* {
	margin: 0;
	padding: 0;
}

body {
	background: #222;
	font-family: Georgia, serif;
	color: #fff;
	font-size: 14px;
}


#side_panel {
	width: 15%;
	float: right;
}

img {
	max-width: 100px;
	max-height: 125px;
}


a {
	color: #ffffcc;

	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-o-transition: 0.5s;
	-ms-transition: 0.5s;
	transition: 0.5s;
}
	a:hover,
	a.selected {
		color: #ffcc00;
	}

	#row {
		display: block;
		margin: auto;
		width: 50%;
		/*margin: 100px auto;*/
		position: relative;
		text-align: center;
		float: right;
	}

	#row2 {
		font-size: 24px;
		/*margin: 100px auto;*/
		position: relative;
		text-align: center;
	}

	#timeline {
		width: 800px;
		height: 100px;
		overflow: hidden;
		/*margin: 100px auto;*/
		position: relative;
		background: url('../images/dot.gif') left 45px repeat-x;
	}
		#dates {
			width: 800px;
			height: 60px;
			overflow: hidden;
		}
			#dates li {
				list-style: none;
				float: left;
				width: 100px;
				height: 50px;
				font-size: 24px;
				text-align: center;
				background: url('../images/biggerdot.png') center bottom no-repeat;
			}
				#dates a {
					line-height: 38px;
					/*padding-bottom: 10px;*/
				}
				#dates .selected {
			        font-size: 38px;
				}

		#grad_left,
		#grad_right {
			width: 100px;
			height: 350px;
			position: absolute;
			top: 0;
		}
			#grad_left {
		        left: 0;
		        background: url('../images/grad_left.png') repeat-y;
			}
			#grad_right {
		        right: 0;
		        background: url('../images/grad_right.png') repeat-y;
			}

		#next,
		#prev {
			position: absolute;
			top: 0;
			font-size: 70px;
			top: 170px;
			width: 22px;
			height: 38px;
			background-position: 0 0;
			background-repeat: no-repeat;
			text-indent: -9999px;
			overflow: hidden;
		}
			#next:hover,
			#prev:hover {
				background-position: 0 -76px;
			}
			#next {
				right: 0;
				background-image: url('../images/next.png');
			}
			#prev {
				left: 0;
				background-image: url('../images/prev.png');
			}
				#next.disabled,
				#prev.disabled {
					opacity: 0.2;
				}