body {
  background: #333;
  font-family: Georgia, serif;
  color: #fff;
  font-size: 14px;
}

html {
  margin:0;
  padding:0;
  color:#000;
  background:#a7a09a;
}

#wrap {
  width:100%;
  margin:0 auto;
  background:#99c;
}

#header {
background:#ddd;
}

#nav ul {
margin:0;
padding:0;
list-style:none;
}

#nav li {
display:inline;
margin:0;
padding:0;
}

#main {
  float:left;
  width:75%;
  background:#9c9;
}

#sidebar {
  float:right;
  width: 25%;
  background:#c9c;
}

#sidebar img {
  margin-top: 15%;
  margin-left: 20%;
  margin-right: 20%;
  display: inline-block;
}

#footer {
  clear:both;
  background:#cc9;
}